
body {
    background-image: url("../localresources/frutigeraero.jpg");
    text-align: center;
    font-family: Courier New;

}
p {
    background-color: aquamarine;
    text-align: center;

    border-radius: 10px;
    border: solid 3px black;
    margin: 0 auto ;
    height: 250px;
    width: 300px;


}
h1 {
    background-image: linear-gradient(-45deg, deeppink, blueviolet);
    border: solid 1px black;
    width: 500px;
    height: 50px;
    text-shadow: 1px 1px black;
    margin: 0 auto ;

}

.maincontainer{
    display: flex;
    flex-direction: column;
}
#centercontainer {
    margin: auto;
}
button {
    background-color: deeppink;
    width: 200px; height: 50px;
    margin: 10px 0;


}

.GIFS {
    background-color: white;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
}
a {
    background-color: white;
}
img {
    box-shadow: black;
    margin: 0px 10px 0px 10px;
}