
body {
    background-image: url("../localresources/frutigeraero.jpg");
    text-align: center;
    font-family: Courier New;

}
#poem {
    background-color: aquamarine;
    text-align: center;

    border-radius: 10px;
    border: solid 3px black;
    margin: 0 auto ;
    height: 250px;
    width: 300px;


}
/* Style the topnav */
ul.topnav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;


}
ul.topnav li a {
    display: block;
    color: wheat;
    background-color: darkblue;
    padding: 14px 16px;
    text-decoration: underline;
    text-decoration-style: wavy ;
}

#djswaxyrockstext {
    background-image: linear-gradient(-45deg, deeppink, blueviolet);
    border: solid 1px black;
    width: 500px;
    height: 50px;
    text-shadow: 1px 1px black;
    justify-self: center;
    margin-bottom: 20px;

}

.maincontainer{
    display: inline-grid;
    grid-template-columns: max-content max-content max-content;

    gap: 25px;

    margin: 0 auto ;

}
.headleft{
    display: flex;
    justify-content: left;
    list-style-type: none;
    color: wheat;
    background-color: darkblue;
    padding: 0;
    border-bottom: solid 5px darkviolet;

}
.headright{
    display: flex;
    justify-content: left;
    list-style-type: none;
    color: wheat;
    background-color: darkblue;
    padding: 0;
    border-bottom: solid 5px darkviolet;
}
.headcenter{
    display: flex;
    justify-content: left;
    list-style-type: none;
    color: wheat;
    background-color: darkblue;
    padding: 0;
    border-bottom: solid 5px darkviolet;
}
.centerdiv{

    border: solid 10px darkblue;
    background-color: blueviolet;
}

.leftdiv{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border: solid 10px darkblue;


}
.topleft {

}
.rightdiv {
    justify-self: right;
    background-color: blueviolet;
    border: solid 10px darkblue;
}

.linksbutton {
    background-color: deeppink;
    width: 200px; height: 50px;
    margin: 10px 0;
}
#secretbutton {
    width: 50px; height: 20px;
    background-color: deeppink;
}
#chatplaceholder {
    margin-top: 10px;
}



.GIFS {

    margin: 0px 10px 0px 10px;

}
a {
    background-color: white;
}
img {
    box-shadow: black;
    margin: 0px 10px 0px 10px;
}